
@{
    ViewBag.Title = "AlbumDigital";
}

<div class="container">
    <h2>Álbum digital</h2>
    <hr />
    <img src="https://pixim.pixum.com/image?path=https://cdn.pixum.com/assets/responsive-images/fruehling_2018/pfb_gross_hoch_klebebindung_fruehling.jpg?version=4&filterSpec=crop:312,972,2248,2061_resize:640,0&sig=Ikq2snmwW4JVGQ57muvXCwiaTMwutqHg8ygfMe%2FwM314j04Fyu%2BTmSY%2B%2Fu8XADNcFjkPzn%2BCD%2FYuCRSfModcDw%3D%3D" alt="Imagen de Álbum digital" class="fotoGrande" />
    <br />
    <h4>
        <p>Un álbum de fotos o álbum fotográfico es una carpeta en la que se guardan fotografías de forma expositiva para ser visualizadas posteriormente si.</p>
        <p>Consta de varias hojas en las que se pega o introduce la fotografía. El diseño de las hojas ha variado a través de los tiempos. En los modelos más antiguos se trataba de hojas de cartón o papel duro con soportes triangulares en los que se introducían las esquinas de las fotografías. Era tradicional disponer una hoja de papel de seda entre las hojas para separar y proteger la fotografías.</p>
    </h4>
</div>




