
@{
    ViewBag.Title = "Bebes";
}

<div class="container">
    <h2>Bebés</h2>
    <hr />
    <div class="row">
        <div class="column">
            <img src="https://www.dzoom.org.es/wp-content/uploads/2008/03/sesion-bebe-newborn-7-810x540.jpg" class="fotoGaleriaMenu" id="myImg1" alt="imagen bebés">
            <img src="https://libertadzanon.com/wp-content/uploads/2016/11/Recien-nacido-Libertad-Zanon-16.jpg" class="fotoGaleriaMenu" id="myImg2" alt="imagen bebés">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC0khbRQkKDp2LVE3Il2Ub2_wJlyy01h7DNQU91eloh_YX_BTJQA" class="fotoGaleriaMenu" id="myImg3" alt="imagen bebés">
            <img src="https://diariomedico.blob.core.windows.net/cms/2018/04/13/bebe-con-perro.jpg" class="fotoGaleriaMenu" id="myImg4" alt="imagen bebés">
            <img src="https://www.optica2000.com/blog/wp-content/uploads/2018/01/28-enero-Color-de-los-ojos-del-beb%C3%A9-650x366.jpg" class="fotoGaleriaMenu" id="myImg5" alt="imagen bebés">
            <img src="https://www.infobae.com/new-resizer/f-uhf5IBmpYba3X7CEKZFzfZjbw=/750x0/filters:quality(100)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2016/12/06125832/minimalistas-sin-ropa-1024x576.jpg" class="fotoGaleriaMenu" id="myImg6" alt="imagen bebés">
        </div>
        <div class="column">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqRlrMxhx2oZ4nkN_6cJ49EvC4pZBoTvzY7C-ToKQrpmYvWWXJ" class="fotoGaleriaMenu" id="myImg7" alt="imagen bebés">
            <img src="https://www.infobae.com/new-resizer/f-uhf5IBmpYba3X7CEKZFzfZjbw=/750x0/filters:quality(100)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2016/12/06125832/minimalistas-sin-ropa-1024x576.jpg" class="fotoGaleriaMenu" id="myImg8" alt="imagen bebés">
            <img src="https://www.tendencias21.net/photo/art/grande/25500674-26753137.jpg?v=1536926391" class="fotoGaleriaMenu" id="myImg9" alt="imagen bebés">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5lUutF0QZ3yn1ll46Z9oNAjL2b1Er1qva5j7Elf2JJMo3KA3e" class="fotoGaleriaMenu" id="myImg10" alt="imagen bebés">
            <img src="https://s7d9.scene7.com/is/image/DisneyStoreES/30369_baby_clothing_mb?$mb$" class="fotoGaleriaMenu" id="myImg11" alt="imagen bebés">
            <img src="https://www.arenal.com/medias/bebes-mamas-4-arenal-mobile?context=bWFzdGVyfGltYWdlc3wxMDkyNzV8aW1hZ2UvanBlZ3xpbWFnZXMvaDhlL2g5Ni84OTM1Mjg0MDgwNjcwLmpwZ3w3ODk3ZTM3YTM3NTkyNDM2YTIyYjMwODg1YjAxZDY0ZmY0NzhmMzMyNjAyZTNiYjA0MjVkMzA5MTRjMGQyOGIy" class="fotoGaleriaMenu" id="myImg12" alt="imagen bebés">
            <img src="https://windeln-assets.s3.amazonaws.com/content/1500.XFgvQCGtaVW2Uslq/bebe-durmiendo.jpg" class="fotoGaleriaMenu" id="myImg13" alt="imagen bebés">
        </div>
        <div class="column">
            <img src="https://www.somosmamas.com.ar/wp-content/uploads/2017/05/baby-3-1320x881.jpg" class="fotoGaleriaMenu" id="myImg14" alt="imagen bebés">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqRlrMxhx2oZ4nkN_6cJ49EvC4pZBoTvzY7C-ToKQrpmYvWWXJ" class="fotoGaleriaMenu" id="myImg15" alt="imagen bebés">
            <img src="https://www.webconsultas.com/sites/default/files/styles/wc_adaptive_image__small/public/articulos/gases_bebe_expulsar.jpg" class="fotoGaleriaMenu" id="myImg16" alt="imagen bebés">
            <img src="https://hips.hearstapps.com/es.h-cdn.co/crfes/images/el-bebe/buenos-cuidados/echar-los-gases/!a-mover-esas-piernas/1076855-4-esl-ES/!A-mover-esas-piernas.jpg?resize=480:*" class="fotoGaleriaMenu" id="myImg17" alt="imagen bebés">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwA8k1RGIlf97dINQ7RBCx9GJSprX3EQS-ElOO7hsfMdct66Jarg" class="fotoGaleriaMenu" id="myImg18">
            <img src="https://static.guiainfantil.com/pictures/videos/3231-como-hacer-un-masaje-para-aliviar-los-colicos-del-bebe.jpg" class="fotoGaleriaMenu" id="myImg19" alt="imagen bebés">           
        </div>
        <div class="column">
            <img src="https://elcorresponsal.com.mx/wp-content/uploads/2019/04/recien-nacido.jpg" class="fotoGaleriaMenu" id="myImg20" alt="imagen bebés">
            <img src="https://t2.uc.ltmcdn.com/images/5/3/5/img_46535_apa_289643_600.jpg" class="fotoGaleriaMenu" id="myImg21" alt="imagen bebés">
            <img src="http://img2.rtve.es/v/3760227/" class="fotoGaleriaMenu" id="myImg22" alt="imagen bebés">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn1Wrvi-oXLs14CBhdcabXFLRI23v2u64PSbJCb_LC-8Hs7wORWA" class="fotoGaleriaMenu" id="myImg23" alt="imagen bebés">
            <img src="http://fernandogarciadory.com/wp-content/uploads/14/diadema-blanca-flores-link.png" class="fotoGaleriaMenu" id="myImg24" alt="imagen bebés">
            <img src="https://static.vix.com/es/sites/default/files/styles/1x1/public/b/bebe_nina_rubia_con_diadema_rosa.jpg?itok=lboWZaw6" class="fotoGaleriaMenu" id="myImg25" alt="imagen bebés">
            <img src="http://fernandogarciadory.com/wp-content/uploads/14/bebe-diadema-blanca-luz.jpg" class="fotoGaleriaMenu" id="myImg26" alt="imagen bebés">
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>
<script>
    var modal = document.getElementById("myModal");
    var contador = 0;
    for (var i = 0; i <= document.getElementsByClassName("fotoGaleriaMenu").length; i++) {
        contador++;
        var img = document.getElementById("myImg" + contador);
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        console.log(contador);
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }

    }
</script>

