
@{
    ViewBag.Title = "Calendarios";
}

<div class="container">
    <h2>Calendarios</h2>
    <hr />
    <img src="https://estaticos.muyhistoria.es/media/cache/400x300_thumb/uploads/images/pyr/54941b888c770c961fd6ddce/bisiesto-c.jpg" alt="Imagen de calendario" class="fotoGrande" />
    <br />
    <h4>
        El calendario es una cuenta sistematizada del transcurso del tiempo, utilizado para la organización cronológica de actividades, se trata de un conjunto de reglas o normas que tratan de hacer coincidir el año civil con el año trópico y calidad.
    </h4>
    <h4>
        Antiguamente, muchos estaban basados en ciclos lunares, perdurando su uso en el calendario musulmán, en la fecha de varias fiestas religiosas cristianas y en el uso de la semana (correspondiente a las cuatro fases lunares, aproximadamente).
    </h4>
    <h4>
        En la actualidad, la mayor parte de los calendarios tienen por referencia el ciclo que describe la Tierra alrededor del Sol y se denominan calendarios solares.

        El calendario sideral se fundamenta en el movimiento terrestre respecto de otros astros diferentes al Sol.
    </h4>
</div>


