
@{
    ViewBag.Title = "Comuniones";
}

<div class="container">
    <h2>Comuniones</h2>
        <hr />
        <div class="row">
            <div class="column">
                <img src="http://www.fotoladrero.com/wp-content/uploads/2018/05/Ladrero-Fotografos-reportajes-de-comunion-Bilbao-reportajes-de-comunion-Bizkaia-fotografo-de-comunion-Bilbao-comuniones-2018-exteriores-Fotografia-infantil-bilbao-Amets7.jpg" class="fotoGaleriaMenu" id="myImg1" alt="imagen comuniones">
                <img src="https://www.bokehestudio.com/content/img/web/Comuniones-plasencia-el-caozo-bokeh-estudio-fotograf%C3%ADa0001.jpg" class="fotoGaleriaMenu" id="myImg2" alt="imagen comuniones">
                <img src="https://ilumina2photo.es/wp-content/uploads/2018/04/fotos-comunion-reportajes-comuniones-reportaje-fotografico-exterior-aire-libre-barcelona-ilumina2-photo-5.jpg" class="fotoGaleriaMenu" id="myImg3" alt="imagen comuniones">
                <img src="http://www.silviaferrer.com/wp-content/uploads/2016/09/Silvia_Ferrer-3-de-16.jpg" class="fotoGaleriaMenu" id="myImg4" alt="imagen comuniones">
                <img src="https://www.cewe.es/blog/wp-content/uploads/sites/47/2018/10/reportaje-de-comuni%C3%B3n.jpg" class="fotoGaleriaMenu" id="myImg5" alt="imagen comuniones">
                <img src="http://www.irenecazonfotografia.com/wp-content/uploads/2016/02/fotos-comunion-originales-ni%C3%B1o-67-705x529.jpg" class="fotoGaleriaMenu" id="myImg6" alt="imagen comuniones">
                <img src="http://www.misfotosyvideosdeboda.es/wp-content/uploads/2012/06/Fotos-Comunion-Adrian-01121.jpg" class="fotoGaleriaMenu" id="myImg7" alt="imagen comuniones">
            </div>
            <div class="column">
                <img src="https://www.eduardobrena.es/content/img/gal/417/comunion-sara1_201807201734505b521d3adeaa7.thumb.jpg" class="fotoGaleriaMenu" id="myImg8" alt="imagen comuniones">
                <img src="https://www.hola.com/imagenes/ninos/2014051671351/vestidos-trajes-comunion-mayo-2015/0-270-499/comuniones_1-z.jpg" class="fotoGaleriaMenu" id="myImg9" alt="imagen comuniones">
                <img src="https://www.carolbravo.com/wp-content/uploads/fotografo-comuniones-sanse-00.jpg" class="fotoGaleriaMenu" id="myImg10" alt="imagen comuniones">
                <img src="https://www.fotorodolfo.com/content/img/gal/164/comuniones-bilbao-gaizka-medina-foto-rodolfo_201805071419075af0605b2b4d3.thumb.jpg" class="fotoGaleriaMenu" id="myImg11" alt="imagen comuniones">
                <img src="https://palmaaquarium.com/intranet/files/08_06_1811_55_15Bautizo_Comunion_Mallorca_Palma_Aquarium_3.jpg" class="fotoGaleriaMenu" id="myImg12" alt="imagen comuniones">
                <img src="https://catedraldelvi.com/wp-content/uploads/2019/03/comuniones-comunions-catedral-del-vi-pagos-de-hibera-tarragona-comuniones-con-encanto-pagos-de-hibera-1024x683.jpg" style="width:100%;max-width:300px" class="fotoGaleriaMenu" id="myImg13" alt="imagen comuniones">
            </div>
            <div class="column">
                <img src="https://ilumina2photo.es/wp-content/uploads/2017/06/reportaje-fotos-primera-comunion-barcelona-sesion-fotografica-precomunion-album-fotos-comuniones-sesiones-postcomunion-8.jpg" class="fotoGaleriaMenu" id="myImg14" alt="imagen comuniones">
                <img src="https://www.asierarriba.es/blog/wp-content/uploads/2018/04/027-comunion-exterior-vitoria.jpg" class="fotoGaleriaMenu" id="myImg15" alt="imagen comuniones">
                <img src="https://www.labastilla.com/sites/default/files/styles/slider_movil/public/slider-comuniones-movil_0.jpg?itok=64kkeDV4" class="fotoGaleriaMenu" id="myImg16" alt="imagen comuniones">
                <img src="https://juansegovia.com/wp-content/uploads/2015/01/hermanos-comuniones-estudio-nino-nina.jpg" class="fotoGaleriaMenu" id="myImg17" alt="imagen comuniones">
                <img src="https://juanjogoterris.es/wp-content/gallery/comuniones/fotografo-comuniones-en-villarreal.jpg" class="fotoGaleriaMenu" id="myImg18" alt="imagen comuniones">
                <img src="https://www.fotografiafuentes.com/wp-content/uploads/2017/01/fotografo-comunion-burgos-03.jpg" class="fotoGaleriaMenu" id="myImg19" alt="imagen comuniones">
                <img src="" style="width:100%;max-width:300px" class="fotoGaleriaMenu" id="myImg20">
            </div>
            <div class="column">
                <img src="http://www.bautinion.com/recursos/cache/d957056b772bf1bf996c4fb5667f57f5-70416ba8ce139f98370e42edfc61ae41-th.jpg" class="fotoGaleriaMenu" id="myImg21" alt="imagen comuniones">
                <img src="http://entretonospastel.com/wp-content/uploads/2019/02/thumb-comunion-ariadna.jpg" class="fotoGaleriaMenu" id="myImg22" alt="imagen comuniones">
                <img src="http://entretonospastel.com/wp-content/uploads/2019/02/thumb-comunion-ariadna.jpg" class="fotoGaleriaMenu" id="myImg23" alt="imagen comuniones">
                <img src="http://entretonospastel.com/wp-content/uploads/2019/02/thumb-comunion-ariadna.jpg" class="fotoGaleriaMenu" id="myImg24" alt="imagen comuniones">
                <img src="http://www.fotoladrero.com/wp-content/uploads/2018/05/Ladrero-Fotografos-reportajes-de-comunion-Bilbao-reportajes-de-comunion-Bizkaia-fotografo-de-comunion-Bilbao-comuniones-2018-exteriores-Fotografia-infantil-bilbao-Amets8.jpg" class="fotoGaleriaMenu" id="myImg25" alt="imagen comuniones">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgYPUBZvTAnn_Q8Kw44eQQOwZheup6LJ-GbJ2kMY916ieBpnDA" class="fotoGaleriaMenu" id="myImg26" alt="imagen comuniones">
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
    <script>
        var modal = document.getElementById("myModal");
        var contador = 0;
        for (var i = 0; i <= document.getElementsByClassName("fotoGaleriaMenu").length; i++) {
            contador++;
            var img = document.getElementById("myImg" + contador);
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            console.log(contador);
            img.onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }
            var span = document.getElementsByClassName("close")[0];

            span.onclick = function () {
                modal.style.display = "none";
            }

        }
    </script>

