
@{
    ViewBag.Title = "Impresión digital";
}

<div class="container">
    <h2>Impresión digital</h2>
    <hr />
    <img src="https://www.elmundofinanciero.com/fotos/372/kimjonun2.jpg" alt="Imagen impresión digital" class="fotoGrande" />
    <br />
    <h4>
        La impresión digital es un proceso que consiste en la impresión directa de un archivo digital a papel u otros materiales por diversos medios, siendo el más común la tinta en impresora de inyección de tinta (cartuchos), y tóner en impresora láser. ... La impresión personalizada es un mercado en creciente expansión.
    </h4>
    <h4>
        Este proceso, habitualmente ofrecido de manera profesional por pequeños negocios, es ideal para proyectos de impresión de bajo volumen y/o tiempos de entrega sumamente cortos, ya que una de las principales ventajas que ofrece es la disponibilidad casi inmediata de los impresos, pues no requiere tiempo de secado o enfriamiento al no trabajar con tintas tan densas como las que se utilizan en el proceso análogo de impresión offset.
    </h4>
</div>

