
@{
    ViewBag.Title = "Lienzo";
}

<div class="container">
    <h2>Lienzo</h2>
    <hr />
    <img src="https://www.marketingdirecto.com/wp-content/uploads/2016/02/blank-canvas-300-300x300.jpg" alt="Imagen lienzo" class="fotoGrande" />
    <br />
    <h4>
        Uno de los óleos sobre lienzo más antiguos que se ha conservado es el cuadro francés Virgen con ángeles, datado alrededor de 1410 que se conserva en la Gemäldegalerie de Berlín, lo que es también una fecha muy temprana para una pintura al óleo. Sin embargo, la pintura sobre tabla siguió siendo más habitual hasta el siglo XVI en Italia y el XVII en el Norte de Europa. Mantegna y los artistas venecianos estuvieron entre los que lideraron el cambio. Tenían a su disposición lienzo de velas venecianas y se consideraban de la mejor calidad.
    </h4>
</div>

