
@{
    ViewBag.Title = "Packagin";
}

<div class="container">
    <h2>Packagin</h2>
    <hr />
    <img src="https://vitoprint24.com/136/tarjeta-de-visita-b%C3%A1sic-2-caras.jpg" alt="Imagen packagin" class="fotoGrande" />
    <br />
    <h4>
        El embalaje o empaque es un recipiente o envoltura que contiene productos de manera temporal principalmente para agrupar unidades de un producto pensando en su manipulación, transporte y almacenaje.
    </h4>
    <h4>
        Otras funciones del embalaje son: proteger el contenido, facilitar la manipulación, informar sobre sus condiciones de manejo, requisitos legales, composición, ingredientes, etc. Dentro del establecimiento comercial, el tipo de embalaje puede ser útil a la hora de vender la mercancía gracias a su diseño gráfico y estructural.
    </h4>
</div>

