
@{
    ViewBag.Title = "Tarjetas de visitas";
}

<div class="container">
    <h2>Tarjertas de visita</h2>
    <hr />
    <img src="http://www.medianil.com/wp-content/uploads/2017/09/importancia-packaging.jpg" alt="Imagen tarjeta de visita" class="fotoGrande" />
    <br />
    <h4>
        Las tarjetas de visita o tarjetas de presentación recogen los principales datos de contacto de una persona y que se entrega en la primera entrevista o como forma de identificación junto a un regalo, pésame o felicitación
    </h4>
    <h4>
        Las tarjetas de visita son de tal modo importante que, a pesar del progreso tecnológico, continúan a ser utilizados por innumerables empresas. Este hecho puede explicarse por el impacto que este material gráfico tiene en el momento de cerrar negocios.
    </h4>
    
</div>

